node_modules
altv-server
resources
.vscode
*.dll
*.exe
update.json
data/
*.log
cache/
crashdumps/
package-lock.json/C:/Users/Jerico/Desktop/ALTV/node_modules
/c:/Users/Jerico/Desktop/ALTV/src/qv-core/client/modules
